@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ads.css";

html,
body {
    width: 100%;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body[data-page="/"]::before {
    background-image: url(/images/interview.jpg);
}

body[data-page="/dataset"]::before {
    background-image: url(/images/abstract-lines.jpg);
}

body[data-page="/practice"]::before {
    background-image: url(/images/microphone.jpg);
}

@layer base {
    nav {
        @apply my-3 mx-auto p-4 rounded-2xl;
    }

    .main-wrapper {
        @apply w-5/6 pb-40 m-auto min-h-full h-auto;
    }

    footer {
        @apply flex w-4/5 h-28 p-4 mx-auto justify-between relative;
    }

    ins {
        @apply w-full h-full;
    }
}

@layer components {
    .ts {
        transition: all .2s ease-in;
    }

    .post-box {
        @apply bg-amber-100;
    }

    .content-box {
        @apply bg-yellow-300;
    }

    /* navigation ------------------------------------- */
    .main-nav {
        @apply w-10/12;
    }

    .nav-item {
        @apply px-3 py-2 m-1 rounded-2xl font-extrabold text-2xl text-blue-400;
    }

    .nav-item.active,
    .nav-item:hover {
        @apply px-3 py-2 text-white bg-blue-400;
        transition: all .2s ease-in;
    }

    #user-section {
        @apply absolute top-1/2 right-10 flex items-end -translate-y-1/2;
    }

    /* form & input ------------------------------------- */
    .input-box {
        @apply my-1 px-2 py-1 border-2 border-sky-300 rounded-lg text-lg;
        transition: all .2s ease-in-out;
    }

    .input-box:focus {
        outline: none !important;
        box-shadow: 0 0 8px blue;
    }

    .submit-btn {
        @apply mx-1 px-3 py-2 font-bold rounded-lg;
        cursor: pointer;
    }

    #formFile::file-selector-button {
        @apply text-xs;
    }

    /* Modal Container */
    .select-box {
        @apply p-4 rounded-2xl fixed z-50 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .select-part {
        @apply flex justify-around items-center w-80 mx-2 my-1 px-4 py-3 rounded-lg;
    }

    .select-part:hover {
        transform: scale(1.05);
    }
}


/* 반응형 - 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main-wrapper {
        @apply w-11/12;
    }

    .main-nav {
        @apply w-11/12;
    }

    .nav-item,
    .nav-item.active,
    .nav-item:hover {
        @apply m-0.5 px-2.5 py-1.5;
    }

    #user-section {
        @apply flex flex-col-reverse justify-between top-2/3 right-5 -z-10;
    }

    #user-section>span {
        @apply text-sm flex mt-4;
    }

    .nav-item {
        @apply text-lg;
    }

    #sign-btn {
        @apply text-base px-2.5 py-1.5 mt-1.5 -mb-4;
    }

    .submit-btn {
        @apply text-lg;
    }

    #sign-section {
        @apply w-1/2 my-32;
    }

    #user-form > div {
        @apply w-5/6;
    }

    #user-form input#email,
    #user-form input#pw {
        @apply text-lg;
    }

    #user-form input#sign-in,
    #user-form input#sign-up {
        @apply text-base;
    }

    .post-box {
        @apply w-1/2;
    }

    footer {
        @apply w-11/12 text-sm;
    }

    #top-btn {
        @apply bottom-7 right-7;
    }

    #horizontal-btn>button {
        @apply bottom-24 right-7;
    }

    .main-wrapper>main {
        @apply m-6;
    }

    #dataset-form>div {
        @apply w-11/12;
    }

    #dataset-form .submit-btn {
        @apply flex mx-auto;
    }

    .transcript-data {
        @apply w-80 bottom-0 left-0;
    }

    .kakao-ads[data-media="Mobile"] {
        @apply hidden;
    }
}

/* 반응형 - 모바일 */
@media screen and (max-width: 768px) {
    .main-wrapper {
        @apply w-full;
    }

    .main-nav {
        width: 96%;
    }

    .nav-item,
    .nav-item.active,
    .nav-item:hover {
        @apply m-0.5 px-2 py-1;
    }

    #user-section {
        @apply flex flex-col-reverse justify-between top-2/3 right-5 -z-10;
    }

    #user-section>span {
        @apply text-xs flex mt-1;
    }

    #sign-btn {
        @apply text-base px-2 py-1;
    }

    #sign-section {
        @apply w-2/3 my-32;
    }

    .nav-item {
        @apply text-base;
    }

    .submit-btn {
        @apply text-base;
    }

    #user-form > div {
        @apply w-5/6;
    }

    #user-form input#email,
    #user-form input#pw {
        @apply text-base;
    }

    #user-form input#sign-in,
    #user-form input#sign-up {
        @apply text-sm;
    }

    .post-box {
        @apply w-3/4;
    }

    footer {
        @apply w-full text-xs;
    }

    .main-wrapper>main {
        @apply m-2;
    }

    #dataset-form>div {
        @apply w-full;
    }

    #dataset-form .submit-btn {
        @apply flex mx-auto;
    }

    .content-box {
        @apply w-full;
    }

    #top-btn {
        @apply text-sm z-50 bottom-4 right-4;
    }

    #horizontal-btn {
        @apply fixed z-30 hidden;
    }

    #horizontal-btn>button {
        @apply bottom-20 right-4;
    }

    .transcript-data {
        @apply w-20 mt-0 bottom-0 left-0;
    }

    .main-data,
    .saved-data {
        @apply w-5/6;
    }
}